<div class="d-flex flex-column fill">
    <div>
        <app-header></app-header>
    </div>

    <div class="d-flex flex-row align-items-stretch fill">

        <div class="menu">
            <app-menu-lateral [data]="data"></app-menu-lateral>
        </div>

        <div class="p-2 flex-grow-1 bd-highlight">
             <div class="p-2">
                <app-barra-pesquisa (search)="filterText($event)"></app-barra-pesquisa>
             </div>

            <div class="flex-grow-1 bd-highligh p-2">
                <app-table-name [data]="users | searchPipe:filterData"></app-table-name>
            </div>
          
            <div class="flex-grow-1 bd-highligh p-2 mr-5 text-align-left d-flex justify-content-end">
                <button class="btn btn-primary">Adiconar</button>
            </div>

            <div class="p-2">
                <app-form-adicionar (adicionarUser)="adicionar($event)"></app-form-adicionar>
            </div>
        </div>
    </div>
 </div>

